{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'blog/img/logo.png' %}" width="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">О сайте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О разработчике</a>
                </li>
            </ul>

            <div class="d-flex navbar-nav">

                <form class="d-flex" role="search" method="get" action="{% url 'search_results' %}">
                    <input name="q" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Поиск</button>
                </form>

                {% if request.user.is_authenticated %}

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Привет, {{ request.user.username }}!
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Мой профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_article' %}">Добавить статью</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </div>

                {% else %}

                <div class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Войти</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">Регистрация</a>
                </div>

                {% endif %}
            </div>

        </div>
    </div>
</nav>