<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            {% if article.photo %}
            <img src="{{ article.photo.url }}" class="img-fluid rounded-start" alt="...">
            {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk3UgM3iwgnkhNoQm3NuarG41NsSprg7iSAg&s" class="img-fluid rounded-start" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content|truncatewords:20 |linebreaks }}</p>
                <p class="card-text"><small class="text-body-secondary">
                    Дата создания: {{ article.created_at }}
                </small>
                </p>
                <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
</div>